<h1>All Games</h1>

<table>
  <col width="150">
  <col width="100">
  <col width="150">
  <col width="100">
  <tr>
    <th align="left">Player 1</th>
    <th align="left">Score</th>
    <th align="left">Player 2</th>
    <th align="left">Score</th>
  </tr>

  <% @games.each do |game| %>
      <tr>
        <td><%= game.player1.name %></td>
        <td><%= game.p1score %></td>
        <td><%= game.player2.name %></td>
        <td><%= game.p2score %></td>
      </tr>
  <% end %>
</table>
<br>
<%= link_to 'Home', welcome_index_path %>