<h2><%= link_to @game.player1.name, "/players/" + @game.player1_id.to_s, :class => "no-show-link" %></h2>
<%= link_to 'Home', welcome_index_path %><br><br>
<table>
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">

  <tr>
    <th align="left">Rating</th>
    <th align="left">Wins</th>
    <th align="left">Losses</th>
    <th align="left">Ratio</th>
  </tr>

  <tr>
    <td><%= @game.player1.rating %></td>
    <td><%= @game.player1.wins %></td>
    <td><%= @game.player1.losses %></td>
    <td><% if @game.player1.losses > 0 %>
          <%= (@game.player1.wins.to_f / @game.player1.losses.to_f).to_f.round(2) %>
      <% else %>
          <%= "Undefeated" %>
      <% end %>
    </td>
  </tr>
</table>
<h2><%= link_to @game.player2.name, "/players/" + @game.player2_id.to_s, :class => "no-show-link" %></h2>
<table>
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">

  <tr>
    <th align="left">Rating</th>
    <th align="left">Wins</th>
    <th align="left">Losses</th>
    <th align="left">Ratio</th>
  </tr>

  <tr>
    <td><%= @game.player2.rating %></td>
    <td><%= @game.player2.wins %></td>
    <td><%= @game.player2.losses %></td>
    <td><% if @game.player2.losses > 0 %>
          <%= (@game.player2.wins.to_f / @game.player2.losses.to_f).to_f.round(2) %>
      <% else %>
          <%= "Undefeated" %>
      <% end %>
    </td>
  </tr>
</table>