<h1><%= @player.name %></h1>

<p>
  <strong>Rating:</strong><br>
  <%= @player.rating %>
</p>
<p>
  <strong>Wins:</strong><br>
  <%= @player.wins %>
</p>
<p>
  <strong>Losses:</strong><br>
  <%= @player.losses %>
</p>
<%= link_to 'Home', welcome_index_path %>